- if @presenter.current_user.trained_by.count > 1
  // more than one trainer

- elsif @presenter.current_user.trained_by.count == 1
  %p Your trainer is the one, the only:
  = link_to @presenter.trainer_first.username.titleize, user_path(@presenter.trainer_first), :class => "btn btn-large btn-primary"

- else
  %p You currently have no trainer