%table.table
  %tr
    %thead
      %th Clients
      %th Bookings

  - for client in @presenter.user.training.limit(5)

    %tr
      %td= link_to "#{client.username}", user_path(client)
      %td= link_to pluralize(@presenter.user_client_bookings(@presenter.user, client).count, 'bookings'), user_reverse_bookings_path(client)