.row-fluid
  // trainer
  .well.span5
    .label Trainer
    = render 'users/show/client_trainers'
  
  // bookings
  - unless @presenter.current_user.trained_by.count < 1
    .well.span5
      .label Bookings
      = render 'users/show/client_bookings'