.row-fluid
  // clients
  .well.span5
    .label Clients
    = render 'users/show/trainer_clients'
  
  // bookings
  - unless @presenter.current_user.training.count <= 1
    .well.span5
      .label Bookings
      = render 'users/show/trainer_bookings'

.row-fluid
  // workouts
  .well.span5
    .label Workouts
    = render 'users/show/trainer_workouts'
  
  // Exercises
  .well.span5
    .label Exercises
    = render 'users/show/trainer_exercises'