%p
  %strong 
    Description:
  = @workout.description

%p
  = link_to "Create Booking", new_booking_path(:workout => @workout)
  with this workout

%br
%br
= link_to "Edit Workout", edit_workout_path(@workout)
