.row#homebreak

.twelve.home
   
  .five.columns#home_usp
    %h2
      Reset your password

    %p
      Just give us a valid user email and we'll send you instructions on how to reset it 

  .one.columns 

  .five.columns#home_signup
    = form_tag password_resets_path, :method => :post do |f|

      = email_field_tag :email, params[:email], :placeholder => "Email", :size => 30, :id => "forgot_password_link_email"

      = submit_tag "Update password", :class => "a medium button"