%h2= "Booking on #{booking_date(@booking)} at booking time"

%p
  With client_username_here

=link_to "Edit Booking", edit_booking_path(@booking)

|

= link_to "Delete Booking", booking_path(@booking), :method => :delete, :alert => "Are you sure you want to delete this booking?"