- if @presenter.current_user == @presenter.user

  - if current_user.trainer?
    = render 'users/show/my_trainer_profile'

  - else
    = render 'users/show/my_client_profile'

- else
  
  - if @presenter.user.trainer?
    = render 'users/show/other_trainer_profile'

  - else
    = render 'shared/train_form'