- if @presenter.current_user == @presenter.user

  - if @presenter.trainer?(current_user)
    = render 'users/show/my_trainer_profile'

  - else
    = render 'users/show/my_client_profile'

- else
  = render 'shared/train_form'