- @title ||= "Booking"

- if current_user.role == "trainer_role"
  = render 'shared/bookings/trainer_booking_form'

-else
  - @title = "Request Booking"
  = render 'shared/bookings/client_booking_form'