%h2 
  You train your clients - we'll manage them.

%ul 
  %li Easily manage client bookings
  %li Track and monitor client progress
  %li Keep and reuse all your workouts 
  %li Retain clients like never before