%h4#title Create a booking

.three.columns
  %h6 Client

  / = simple_form_for @booking do |f|
  / 
  /     = f.error_notification
  / 
  /     = f.input :clients, "Current clients", :collection => @user.training