= form_for current_user.relationships.find_by_client_id(@user), html: { method: :delete } do |f|
  .actions= f.submit "Remove Client", :class => "btn btn-danger", confirm: "Are you sure you want to remove this client?"