- @user ||= current_user

%table
  %tr
    %h4#user_side= @user.username

  %tr#clients_side
    %td=link_to "Clients: #{@user.training.count}", training_user_path(@user)

  %tr#bookings_side
    %td=link_to "Bookings: number", "#"

  %tr#workouts_side
    %td=link_to "Workouts: number", "#"