%table.table.span11
  %thead
    %tr#table_blue
      %th Exercise
      %th Body Part
      %th Equipment

    %tbody
      - @exercises.each do |exercise|
        %tr
          %td= link_to exercise.title.titleize, exercise_path(exercise)
          %td= exercise.body_part
          %td= exercise.equipment