.row#homebreak

.twelve.columns

  - if current_user
    = render 'shared/signed_in'

  - else
    #sign_in
      .five.columns#home_usp
        = render 'shared/home_usp'

      .four.columns#home_signup
        = render 'shared/signup'