.row#homebreak

.twelve.columns#home

  - if current_user
    Yo yo I'm a current user mon

  - else
    .five.columns#home_usp
      = render 'shared/home_usp'

    .one.columns 

    .five.columns#home_signup
      = render 'shared/signup'