.twelve.columns

  - if current_user
    %h4#title Create a booking
    = render 'shared/booking_form'

  - else
    #sign_in
      .five.columns#home_usp
        = render 'shared/home_usp'

      .four.columns#home_signup
        = render 'shared/signup'