@import "bootstrap_and_overide" ;

body#background_stripes {
	background: $mid_blue;
	@include stripy_blue_background;
}

section#main_content_yo {
	@include blue_grandient_radial;
	@include border-rad1;
	padding: 0.5em;
	margin-top: 10px;
	@include border1;
}