nav {
	display: block;
	background: white;
	height: 20%;
}


body {
	background: #7dcdff;
	background-image: url("images/background1.jpeg"), url("background2.jpeg");
	background-repeat: repeat-x, repeat;	
}
