$dark_blue:  #064780;

$gray_blue:  #c2d8ea;

$mid_blue:   #a0c2de;

$light_gray: #ededf4;

$dark_gray:  #666666;

$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 16px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: $dark_gray;

$link-color: $dark_blue;

$link-hover-color: #036;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #ff5E99;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol
