@import "mixins";

input.button {
	background: $dark_blue;
	display: block;
	margin: 0.5em;
	&:hover {
		background: $light_gray;
		color: $dark_blue;
	}
}

input.button.a.small {
	float: right;
	background: $dark_blue;
	display: block;
	height: 28px;
	&:hover {
		background: $light_gray;
		color: $dark_blue;
	}
}

input.button.a.medium {
	float: left;
	background: $dark_blue;
	display: block;
	margin-bottom: 2em;
	&:hover {
		background: $light_gray;
		color: $dark_blue;
	}
}

a.signout {
	float: right;
	margin-top: 4em;
	padding: 0 2em 0 2em;
	&:hover {
		background: $gray_blue;
		color: $dark_blue;
	}
}

input#no_style_button {
	background: none;
	border: 0;
	color: $dark_blue;
	align: left;
	width: 100px;
}