@import "mixins";

input.button.a.small {
	float: right;
	background: $dark_blue;
	display: block;
	height: 28px;
	&:hover {
		background: $gray_blue;
		color: $dark_blue;
	}
}

input.button.a.medium {
	float: left;
	background: $dark_blue;
	display: block;
	margin-bottom: 2em;
	&:hover {
		background: $gray_blue;
		color: $dark_blue;
	}
}

a.signout {
	float: right;
	margin-top: 4em;
	padding: 0 2em 0 2em;
	&:hover {
		background: $gray_blue;
		color: $dark_blue;
	}
}