// 	COLORS

$dark_blue:  			rgba(6, 71, 128, 1);
$mid_dark_blue:			rgba(6, 71, 128, .5);
$light_blue: 			rgba(51, 51, 51, 1);
$gray_blue:  			rgba(194, 216, 234, 1);
$mid_blue:   			rgba(160, 194, 222, 1);
$light_gray: 			rgba(237, 237, 244, 1);
$dark_gray:  			rgba(102, 102, 102, 1);
$error_red: 			rgba(228, 34, 23, 1);
$off-white: 			rgba(242, 242, 242, 1);
$background_blue: 		rgba(194, 216, 234, 0.6);
$see_through: 			rgba(194, 216, 234, 0);

// Grays
$black:                 rgba(0, 0, 0, 1);
$grayDarker:            rgba(34, 34, 34, 1);
$grayDark:              rgba(51, 51, 51, 1);
$gray:                  rgba(85, 85, 85, 1);
$grayLight:             rgba(85, 85, 85, 1);
$grayLighter:           rgba(238, 238, 238, 1);
$white:                 rgba(255, 255, 255, 1);
$whiteLighter:          rgba(255, 255, 255, .2);

// Accent colors
$blue:                  rgba(4, 156, 219, 1);
$blueDark:              rgba(0, 100, 205, 1);
$green:                 rgba(70, 165, 70, 1);
$red:                   rgba(157, 38, 29, 1);
$yellow:                rgba(255, 196, 13, 1);
$orange:                rgba(248, 148, 6, 1);
$pink:                  rgba(195, 50, 95, 1);
$purple:                rgba(122, 67, 182, 1);
