// 	COLORS

$dark_blue:  #064780;

$gray_blue:  #c2d8ea;

$mid_blue:   #a0c2de;

$light_gray: #ededf4;

$dark_gray:  #666666;

$error_red: #E42217;

$background_blue: rgba(194, 216, 234, 0.6);

$see_through: rgba(194, 216, 234, 0);