@import "mixins";

/* BOOKING EXERCISES TABLE */

$set_rep_width: 30px;

#exercise_sets {
	width: $set_rep_width;
}

#exercise_reps {
	width: $set_rep_width;
}

#exercise_remove {
	text-align: center;
}