@import "bootstrap_and_overide" ;

h1 {
	padding: 0 0 0.5em 0.5em;
}

// Typography
$baseFontSize:          13px;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight:        18px;
//$textColor:             @grayDark;
