@import "mixins";

footer {
	background: $light_gray;
	display: block;
	height: 200px;
	border-top: $fat_blue_border;
	text-align: center;
	margin: 20px auto 0 auto;
	.copyright {
		padding-top: 1em;
	}
}

