// GRADIENTS

@mixin blue_gradient {
	background: -moz-linear-gradient($dark_blue, $light_blue);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(1, $dark_blue), color-stop(1, $light_blue));
	background: -webkit-linear-gradient($dark_blue, $light_blue);
	background: -o-linear-gradient($dark_blue, $light_blue);
	background: -ms-linear-gradient($dark_blue, $light_blue);
	background: linear-gradient($dark_blue, $light_blue);
}

@mixin blue_gradient_lighter {
	background-image: -moz-linear-gradient($mid_blue, $dark-blue);
	background-image: -webkit-gradient(linear, left top, left bottom, from($mid_blue), to($dark-blue));
	background-image: -webkit-linear-gradient($mid_blue, $dark-blue);
	background-image: -o-linear-gradient($mid_blue, $dark-blue);
	background-image: -ms-linear-gradient($mid_blue, $dark-blue);
	background-image: linear-gradient($mid_blue, $dark-blue);
}

@mixin blue_grandient_radial {
	background-image: -moz-radial-gradient(center 45deg,circle cover, #cde6f9, #6191bf);
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from($off-white), to($mid_blue));
}

@mixin stripy_blue_background {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
}