#homebreak{
	display: block;
	height: 3em;
}

#home {
	display: block;
	padding-top: 1em;
	background-image: url("home.png");
	background-repeat: no-repeat;
	height: 28em;
	position: relative;
}

#home_usp {
	margin-left: 1em;
	background: rgba(0, 0, 0, 0.5);
	padding: 0.4em;
}


h2 {
	color: white;
	padding-bottom: 0.5em;
}

h3 {
	color: white;
	padding: 0.5em 0 0 0;
}

#home_usp ul li {
	color: white;
	list-style-type: circle;
	list-style-position: inside;
	padding-left: 1em;
}

#home_signup {
	background: hsla(0, 0, 0, 0.5);
	padding-left: 1em;
}