@import "bootstrap_and_overide" ;

.nav {
	padding-top: 15px;
}

.nav.btn-group#user_nav_button {
	margin: -7.5px;
	margin-left: 40px;
}

// overide mobile nav pushing down content
//.navbar-fixed-top {
//	position: absolute;
//}

a#logo {
	&:hover {
		background: $see_through;
	}
}