// SHADOWS

@mixin shadow_light_top_right {
	-moz-box-shadow: 0 -1px rgba(255, 255, 255, .3);
	-webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
}

@mixin shadow_double_blue_horizontal {
	-moz-box-shadow: 0 1px 0 $dark_blue, 0 2px 0 $light_blue;
	-webkit-box-shadow: 0 1px 0 $dark_blue, 0 2px 0 $light_blue;
	box-shadow: 0 1px 0 $dark_blue, 0 2px 0 $light_blue;
}

@mixin shadow_remove_last {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@mixin shadow_dark_gray_bottom_right {
	-moz-box-shadow: 0 1px 1px $dark_gray;
    -webkit-box-shadow: 0 1px 1px $dark_gray;
	box-shadow: 0 1px 1px $dark_gray;
}

// BORDERS

@mixin border1 {
	-webkit-box-shadow: inset 0 2px 2px $light_gray, inset -2px 2px 2px $light_gray, inset 2px 2px 2px $light_gray, inset 2px -2px 2px $light_gray,  inset 0 2px 2px $dark_blue, inset -2px 1px 2px $dark_blue, inset 2px 1px 2px $dark_blue, inset 2px -2px 2px $dark_blue, 1px 2px 2px $dark_blue, -1px -1px 2px $dark_blue;
	-moz-box-shadow: inset 0 2px 2px $light_gray, inset -2px 2px 2px $light_gray, inset 2px 2px 2px $light_gray, inset 2px -2px 2px $light_gray,  inset 0 2px 2px $dark_blue, inset -2px 1px 2px $dark_blue, inset 2px 1px 2px $dark_blue, inset 2px -2px 2px $dark_blue, 1px 2px 2px $dark_blue, -1px -1px 2px $dark_blue;
	box-shadow: inset 0 2px 2px $light_gray, inset -2px 2px 2px $light_gray, inset 2px 2px 2px $light_gray, inset 2px -2px 2px $light_gray,  inset 0 2px 2px $dark_blue, inset -2px 1px 2px $dark_blue, inset 2px 1px 2px $dark_blue, inset 2px -2px 2px $dark_blue, 1px 2px 2px $dark_blue, -1px -1px 2px $dark_blue;
}

// TEXT
@mixin text_shadow_dark_gray1 { text-shadow: 0 1px 0 $grayDarker; }
@mixin text_shadow_dark_gray2 { text-shadow: 0 -1px 1px $grayDarker; }
@mixin text_shadow_white1 { text-shadow: 0 1px 0 white; }
@mixin text_shadow_white2 { text-shadow: 0 -1px 1px white; }