@import "mixins";

table#user_side_table {
	width: 180px;
	@include fat_border1;
}

#clients_side {
	background: $light_gray;
}

#workouts_side {
	background: $light_gray;
}

a#user_side_username {
	&:hover {
		background: none;
		color: $dark_blue;
	}
}