// New

#new_user_session {
}

#user_session_new_user_name {
	margin: 30px 0 0 35px;
	position: absolute;
	padding: 0;
	display: block;
}

#user_session_username {
	padding: 4px;
	font-size: 10px;
	border-radius: 5px;	
	display: inline-block;
}

#user_session_new_password {
	margin: 30px 0 0 135px;
	position: absolute;
	padding: 0;
	display: block;
}


#user_session_password {
	padding: 4px;
	font-size: 10px;
	border-radius: 5px;	
	display: inline-block;	
}

#user_session_new_submit {
	margin: 35px 0 0 235px;
	position: absolute;
	padding: 0;
	display: block;
	.button.a.small {
		padding: 0 10px 0 10px;
	}
}

#forgot_password {
	margin: 60px 0 0 140px;
	position: absolute;
	padding: 0;
	display: block;
	a {
		font-size: 8px;
	}
}
