- if invitation.sent_from == invitation.trainer_id
  = form_for current_user.client_invite(invitation.client_id), html: { controller: :invitations, method: :delete } do |f|
    .actions= f.submit "Retract Client Invitation", :class => "btn btn-danger", confirm: "Are you sure you want to retract your invitation?"