@import "bootstrap_and_overide" ;

a#logo {
	&:hover {
		background: $see_through;
	}
}

a#logo_small {
	visibility: hidden;
}

#navigation_bar {
	width: 100%;
	background: $dark-blue;
	margin: -50px auto 0 auto;
	@include blue_gradient_lighter;
	@include radius_6;
	@include shadow_dark_gray_bottom_right;

	.btn.btn-navbar {
		visibility: hidden;
		margin-left: -1000px;
	}
	
	li {
		margin-top: 1.5em;
		float: left;
		border-right: 1px solid $dark_gray;
		position: relative;
	}
	
	li:last-child {
		border-right: none
	}
	
	a {
		float: left;
		padding: 10px 15px;
		color: $gray-blue;
		text-transform: uppercase;
		font: bold 14px Arial, Helvetica;
		text-decoration: none;
		text-shadow: 0 1px 0 $grayDarker;
		text-shadow: 0 -1px 1px $grayDarker;
	}
	
	li:hover > a {
		color: $light_gray;
		font-weight: bold;
		background: none;
		@include point_3_trans;
	}
	
	ul {
		margin: 20px 0 0 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 38px;
		z-index: 999;
		@include blue_gradient_lighter;
		@include shadow_light_top_right;
		@include radius_3;
		@include point_2_trans;
	}
	
	li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0;
	}
	
	ul ul {
		top: 0;
	}
	
	ul li {
		margin-top: 0px;
		@include shadow_double_blue_horizontal;
	}
	
	ul li:last-child {
		@include shadow_remove_last;
	}
	
	ul a {
		text-transform: none;
		padding: 15px;
		width: 130px;
		_height: 15px;
		display: block;
	}
	
	ul a:hover {
		background: $whiteLighter;
	}
}