@import "bootstrap_and_overide";

@media screen and (max-width: 970px) {
	a#logo_small {
		visibility: visible;
	}
	
	#navigation_bar {
		height: 35px;
//		width: 90%;
		margin: 0 auto;

		#logo {
			margin-left: -1000px;
		}
		
		li {
			margin-top: 5px;
		}

		a {
			padding: 5px 10px;
			font: bold 12px Arial, Helvetica;
			text-shadow: 0 .5px 0 $grayDarker;
			text-shadow: 0 -1px .5px $grayDarker;
		}

		li:hover > ul {
			margin-top: -10px;
		}
	}
}