@import "bootstrap_and_overide";

@media screen and (max-width: 430px) {

	#navigation_bar {

		li:nth-child(3) { margin: -10px 0 0 0; }

		li:nth-child(5) { 
			float: right;
			margin: -120px 0 0 0;

			ul { margin-left: -35px; }

			ul li a { color: white; }

			a { 
				color: $dark_blue; 
				text-shadow: none;
			}
		}
		
		ul a { 
			width: 80px; 
			font-size: 80%;
		}
	}
}
